<launch>
    <arg name="configuration" value="$(find julius_ros)/models/turtlebot.jconf"/>

	<node pkg="julius_ros" type="recognizer" name="recognizer" output="screen" launch-prefix="aoss">
	  <param name="configuration" type="string" value="$(arg configuration)" />
          <param name="debug" type="bool" value="true" />
	</node>
</launch>
