<launch>
    <include file="$(find exercise3_quar)/launch/rins_world.launch"/>
    <include file="$(find exercise3_quar)/launch/amcl_simulation.launch"/>
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
    <node name="face_localizer" pkg="exercise4" type="face_localizer"/>
</launch>